// mobile portrait
@media only screen and (max-width: 1199px) and (orientation : portrait) {
  .mobile-portrait {
    display: block;
  }
  .mobile-landscape {
    display: none;
  }
  .desktop {
    display: none;
  }
}

// mobile landscape
@media only screen and (max-width: 1199px) and (orientation : landscape) {
  .mobile-portrait {
    display: none;
  }
  .mobile-landscape {
    display: block;
  }
  .desktop {
    display: none;
  }
}

// desktop
@media only screen and (min-width: 1200px) {
  .mobile-portrait {
    display: none;
  }
  .mobile-landscape {
    display: none;
  }
  .desktop {
    display: block;
  }
}

.chart-container {
  text-align: center;
}

.dailyUpdate {
  padding: 2rem;
  padding-top: 5rem;
  height: 40vh;
}

.totalCases {
  font-size: 2rem;
  color: rgb(175, 68, 68);
  font-weight: bold;
}

.errMsg {
  color: rgb(223, 66, 66);
  font-size: 1.4rem;
}
