.chart-container {
  text-align: center;
}

.errMsg {
  text-align: center;
  color: rgb(223, 66, 66);
  font-size: 1.4rem;
}

.summaryValues {
  padding: 1rem;
  padding-bottom: 0px;
}

.btn-refresh {
  padding: 1rem;
  margin-bottom: 2rem;
}

.diagramRow {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
