<div id="app" class="dark">
  <div class="container-fluid chart-container">
    <div class="row summaryValues d-flex flex-wrap align-items-center">
        <ng-template
          [ngIf]="resStatusSuccess === true && resCaseSuccess === true"
          [ngIfElse]="errorTemplate"
        >
          <div class="col-lg-6 col-sm-12">
            <app-summary title='Total cases since school has started' [value]="'Will reset after Jan. 10'">
            </app-summary>
          </div>
          <div class="col-lg-6 col-sm-12">
            <app-summary title='New cases since yesterday' [value]="newCases">
            </app-summary>
          </div>
          <div class="col-lg-6 col-sm-12">
            <app-summary title='Total cases' [value]="totalCases">
            </app-summary>
          </div>
          <div class="col-lg-6 col-sm-12">
            <app-summary title='Last update' [value]="lastUpdate">
            </app-summary>
          </div>
        </ng-template>
        <ng-template #errorTemplate>
          <div class="col-12">
            <div class="errMsg">
              <h3>{{ statusErrMessage }}</h3>
              <p>Please refresh again or reload the page!</p>
            </div>
          </div>
        </ng-template>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-danger btn-refresh" (click)="refreshData()">Refresh</button>
      </div>
    </div>
    <div class="row diagramRow">
      <div class="col-12">
        <h3>Total number of cases by date</h3>
        <ngx-charts-area-chart
          class="desktop"
          [view]="[areaChartWidth, areaChartHeight]"
          [legend]="false"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [xAxis]="true"
          [yAxis]="true"
          [xAxisLabel]="'Days'"
          [yAxisLabel]="'Number of Total Cases'"
          [timeline]="true"
          [results]="statusesChartData"
          [autoScale]="true"
          [gradient]="false"
        >
        </ngx-charts-area-chart>
      </div>
    </div>
    <div class="row diagramRow">
      <div class="col-12">
        <h3>Number of new daily cases by dates</h3>
        <ngx-charts-bar-vertical
          class="desktop"
          [view]="[barChartWidth, barChartHeight]"
          [results]="casesChartData"
          [xAxisLabel]="'Days'"
          [legendTitle]=""
          [yAxisLabel]="'Number of new cases on each day'"
          [legend]="false"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="false"
        >
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
</div>
